/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@font-face {
  font-family: Silkscreen;
  src: url("../resources/fonts/slkscrb.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 24px;
}

.App {
  background-color: #2E132C;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

h1 {
  font-family: Silkscreen;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.333333px;
}

p {
  font-family: "Fira Code", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.333333px;
}

/* HeaderWelcome */
.welcomePage header.logoContainer {
  display: flex;
  padding: 0 10%;
  width: 50vw;
}

.welcomePage .logoContainer .logoWelcome{
  width: 100%;
}

/* FooterWelcome */
section.welcomePage main.containerSignIn .footerWelcomePage {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.333333px; 
}

p.paragraphFooter{
  color: #60265B;
  text-align: center;
}

span.beta {
  color: #F50D5A;
}

/* SignUpPage */

section.welcomePage {
  display: flex;
  height: 100vh;
}

section.welcomePage main.containerSignIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 10% 3% 10%;
  width: 50vw;
}

section.welcomePage main.containerSignIn .paragraphWelcome{
  margin: 38px 0px;
  text-align: justify;
}

section.welcomePage main.containerSignIn .boxLogin{
  align-items: center;
  background-color: #4285F4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 58px;
  justify-content: space-between;
  margin-bottom: 165px;
  padding-right: 15%;
}

section.welcomePage main.containerSignIn .boxLogin .logoGoogle{
  background-color: #FFFFFF;
  border: 2px solid #4285F4;
  border-radius: 5px 0px 0px 5px;
  height: 100%;
}

main.containerSignIn .boxLogin p{
  font-family: "Roboto", monospace;
  font-weight: 500;
  line-height: 28px;
}
/* Welcome Page */

section.welcomePage main.containerWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% 10% 1% 10%;
  width: 50vw;
}

span.betaName {
  color: #F50D5A;
  font-size: 50px;
}

section.welcomePage .containerWelcome input.inputUsername{
  border: none;
  background-color: #150714;
  margin: 30px 0;
  outline: none;
  padding: 19px;
  width: 100%;
}

input.inputUsername::placeholder{
  color:#914D8B;
  font-family: "Fira Code", monospace;
}

.welcomePage .containerWelcome .boxColors{
  display: flex;
  justify-content: space-between;
  margin: 30px 0 50px 0;
}

.containerColor{
  color: transparent;
  cursor: pointer;
  height: 58px;
  width: 58px;
}

.containerColor.borderSelected {
  border: 5px solid #FFFFFF;
}

button.buttonWelcome {
  background-color: #00DA76;
  border: none;
  cursor: pointer;
  margin-bottom: 43px;
  padding: 22px 0;
  text-align: center;
}

button.buttonWelcome p{
  font-family: Silkscreen;
}

/*Feed Page*/
section.feedPage{
  align-items: center;
  display: flex;
  flex-direction: column;
}

section.feedPage header.headerFeedPage {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 9px 29%;
  width: 100%;
}

header.headerFeedPage img.profilePicture{
  border-radius: 50px;
  cursor: pointer;
  height: 33px;
  width: 33px;
}

header.headerFeedPage img.logoSmall{
  height: 27px;
  width: 45px;
}

header.headerFeedPage img.titleDevsUnited{
  height: 15px;
  width: 26%;
}

section.feedPage form.formBox{
  background-color: #150714;
  border-bottom: 2px solid #60265B;
  display: flex;
  padding: 20px 29%;
  width: 100%;
}

img.profilePicture{
  border-radius: 50px;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

form.formBox div.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 17px;
  width: 100%;
}

form.formBox textarea.inputTweet{
  background-color: #2F112D;
  border: none;
  height: 113px;
  outline: none;
  padding: 6px;
  resize: none;
  width: 100%;
}

form.formBox textarea.inputTweet::placeholder{
  color: #914D8B;
  font-size: 20px;
}

form.formBox .inputContainer .progressBar {
  width: 100%;
}

form.formBox .inputContainer .progressBar .progress {
  width: 1%;
  height: 3px;
  background-color: #00DA76;
}

form.formBox button.postButton{
  background-color: #2F112D;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 102px;
}

form.formBox button.postButton p{
  color: #150714;
  font-family: Silkscreen;
  font-weight: 700;
  font-size: 20px;
}

form.formBox button.postButton:active{
  background-color: #00DA76;
}

form.formBox button.postButton:active p{
  color: #FFFFFF;
}


div.countingBoxCharacters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

p.characters{
  font-size: 16px;
}

p.maxCharacters{
  color: #F50D5A;
}

/* Tweet Container */
article.tweetContainer {
  animation: moveToRight 0.3s ease-in; 
  border-bottom: 2px solid #60265B;
  display: flex;
  margin: 30px 0;
  width: 42%;
}

@keyframes moveToRight {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
} 

article.tweetContainer img.profilePicture{
  cursor: pointer;
  margin-right: 17px;
}

article.tweetContainer div.tweetBox {
  flex: 1;
}

div.tweetBox div.headerBox{
  display: flex;
  justify-content: space-between;
}

div.headerBox .containerUserDate{
  align-items: flex-start;
  display: flex;
}

div.headerBox .containerUserDate h1.usernameTitle{
  border-bottom-left-radius: 10px;
  color: #2E132C;
  font-size: 20px;
  line-height: 20px;
}

div.headerBox .containerUserDate p.tweetDate{
  font-family: "Fira Code", monospace;
  font-size: 20px;
  line-height: 20px;
  margin-left: 12px;
}

div.headerBox img.iconTrash{
  cursor: pointer;
  height: 18px;
}

div.headerBox img.iconTrash:hover{
  height: 22px;
}

div.tweetBox p{
  font-size: 16px;
}

div.tweetBox p.tweetContent{
  font-family: "Fira Code", monospace;
  font-size: 18px;
  letter-spacing: -0.333333px;
  line-height: 23.62px;
  margin: 17px 0 25px 0;
  word-break: break-all;
}

div.tweetBox div.likeBox{
  display: flex;
  margin-bottom: 26px;
}

div.likeBox img.logoLike{
  cursor: pointer;
  height: 20px;
  margin-right: 12px;
  width: 24px;
}

div.likeBox img.logoLike:hover{
  height: 22px;
  width: 26px;
}

div.likeBox p.numberOfLikes{
  color: #F50D5A;
  font-size: 16px;
  line-height: 21px;
}

/* User Profile */

section.userProfile{
  display: flex;
  flex-direction: column;
}

section.userProfile header.headerUserProfile{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 29%;
  padding: 8px 16px;
}

header.headerUserProfile div.returnBox{
  display: flex;
  align-items: center;
}

div.returnBox img.buttonBack{
  background-color: #250C23;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 28px;
}

div.returnBox img.buttonBack:hover{
  height: 18px;
  width: 30px;
}

div.returnBox h1.username{
  font-size: 20px;
  line-height: 20px;
  margin-left: 22px;
}

header.headerUserProfile button.buttonLogout{
  background-color: #F50D5A;
  border: none;
  cursor: pointer;
  display: flex;
  height: 35px;
  padding: 9px 6px;
}

header.headerUserProfile button.buttonLogout:hover{
  height: 37px;
  opacity: 0.5;
  padding: 9px 6px;
}

header.headerUserProfile button.buttonLogout p{
  color:  #250C23;
  font-family: Silkscreen;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

img.logoLogout{
  height: 16px;
  width: 22px;
}

section.userProfile article.userInformation {
  align-items: center;
  background-color: #150714;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30%;
}

article.userInformation img.profilePicture{
  border-radius: 100px;
  height: 134px;
  margin: 22px 0px;
  width: 134px;
}

article.userInformation h1.username{
  border-bottom-left-radius: 10px;
  color: #150714;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

section.userProfile nav.profileTabs{
  background-color: #150714;
  border-bottom: 3px solid #60265B;
  display: flex;
  padding: 0px 29%;
  text-align: center;
}

nav.profileTabs .tab{
  background-color: #150714;
  border: none;
  color: #60265B;
  cursor: pointer;
  font-family: Silkscreen;
  font-size: 24px;
  line-height: 24px;
  padding: 11px 0px;
  text-decoration: none;
  transition: 0.6s;
  width: 50%;
}

nav.profileTabs .tab.active{
  background-color: #60265B;
  color: #150714;
}

div.profileTabs button.tab:hover, div.profileTabs button.tab:active{
  background-color: #60265B;
  color: #150714;
}

/* Post */
.postUserProfile{
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Fav */
.favUserProfile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* UserProfileB */
section.userProfile article.tweetsUserProfileB {
  align-items: center;
  border-top: 3px solid #60265B;
  display: flex;
  flex-direction: column;
}

/* Error Message*/

.formBox .inputContainer textarea.errorMessage{
  border: 2px solid #F50D5A;
}

p.errorMessage {
  color: #F50D5A;
  font-size: 14px;
  line-height: 14px;
  margin: 5px 0;
}

/* Loading */

section.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* NotFound */
section.notFoundPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.containerLinkHome {
  margin-top: 100px;
}

img.logoHome {
  height: 70%;
  margin-bottom: 100px;
  width: 70%;
}
